@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .logotype-blue {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color, #4d5ae5);
  }
  .logotype-dark {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color, #2e2f42);
  }
  .mobile-menu-open-btn {
    border: none;
    border-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu-open-btn-icon {
    stroke: var(--primary-color);
  }
}

/* .page-header-container {
  display: flex;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  color: var(--primary-color);
  transition: color var(--transition-dur-adn-func);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-link-active {
  color: #404bbf;
}
.menu-link-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.logotype-blue {
  font-family: var(--primary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-right: 76px;
}
.logotype-dark {
  color: var(--primary-color);
}
.logotype-white {
  color: #f4f4fd;
}

.contact {
  font-style: normal;
  margin-left: auto;
}
.contact-link {
  display: inline-block;
  padding: 24px 0;
  line-height: 1.5;
  color: var(--color-portfolio);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--secondary-color);
} */
