h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list li {
  list-style: none;
}
.link {
  text-decoration: none;
}
button,
portfolio-button {
  cursor: pointer;
  display: block;
}
body {
  font-family: var(--secondary-font);
  color: #434455;
  background-color: #ffffff;
}
