@media screen and (max-width: 428px) {
  .container {
    max-width: 428px;
    margin: 0 auto;
    padding: 0 16px;
  }
}
@media screen and (min-width: 429px) and (max-width: 1023px) {
  .container {
    max-width: 429px;
    margin: 0 auto;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
